{{ define "title" }}{{ end}}
{{ define "header_css" }}{{ end }}
{{/* Originally page-home */}}
{{ define "body_classes" }}{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "meta_tags" }}{{ end }}

{{ define "main" }}
<div class="strip page-home">
  <div class="container-fluid pt-2">
    <div class="row">
      <div class="col-12">
        <div class="content">
<h1 style="text-align: center"><b><b>You Can Prove It.</b><br>
<i>Prooftoys can help.</i></b></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6">
        <div class="content">
{{ partial "include" (replaceRE "^(.*)[.]md$" "$1-1.md" .File.Path) }}
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="content">
{{ partial "include" (replaceRE "^(.*)[.]md$" "$1-2.md" .File.Path) }}
        </div>
      </div>
    </div>
    <div class="row pt-3 pb-4">
      <div class="col-12">
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "footer_js" }}{{ end }}
