# The file .git/info/exclude lists items to just ignore in this copy
/.hugo_build.lock
go.mod
# Generated site goes here.
/public/
# Internal generated Hugo files go here.
/resources/
# Files imported from prooftoys go in the next two.
/assets/pt/
/static/pt/
/static/tests/*.js
# External assets go in the next two dirs, e.g. jQuery.
/static/lib/
# The themes are downloaded from elsewhere.
/themes/
# Items not yet ready for version control
/scraps/
# Miscellaneous stuff just in case.
/tmp/
.DS_Store
