
/* Customize the styling of blockquotes. */

.content blockquote {
  margin-left: 1em;
}

.content blockquote:before {
  content: none;
}

/* Indent levels of lists in the sidebar. */

.docs-menu ul li {
    margin-left: 1em;
}
