
/* Customized header style */

.content h2 {
    font-size: 2rem;
    font-weight: 400;
}

.content h4 {
    font-size: 1.4rem;
    font-weight: 400;
}


/* Customize the styling of blockquotes. */

.content blockquote {
  margin-left: 1em;
}

/* Indent levels of lists in the sidebar. */

.docs-menu ul li {
    margin-left: 1em;
}


