<!DOCTYPE html>
{{/* NB. The tail of the link starting with the last "/" not at the end */}}
{{/* $attrVal := .RelPermalink | replaceRE "^.*([/].+)" "$1" */}}
{{ $dot := . }}
<html lang="en" class=logicZone>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ with .Params.description }}<meta name=description content="{{ trim . "\n"}}">{{ end }}
  {{ block "meta_tags" . }}{{end}}
  <link rel="icon" href="/favicon.ico">
  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
  <link rel="stylesheet" href="{{ ($style).RelPermalink }}">

  {{ block "header_css" . }}{{ end }}
  {{ $pt := resources.Get "scss/pt.scss" | toCSS (dict "targetPath" "css/pt.css") }}
  <link rel="stylesheet" href="{{ $pt.RelPermalink }}">
  {{ $_ := (resources.Get "scss/proofs.scss" | toCSS (dict "targetPath" "css/proofs.css")).RelPermalink }}

  <style type="text/css">
  .docs-menu ul {{ printf "a[href=%q]" .RelPermalink | safeCSS }} {
      color: #1dc996;
  }
  .tippy-box {
    background-color: darkolivegreen;
  }
  .tippy-arrow {
    color: darkolivegreen;
  }
  </style>

{{/* Start jQuery early.  (It is deferred.) */}}
{{ partial "jquery.html" . }}
{{ partial "matomo.html" . }}
</head>

<body class='page {{ block "body_classes" . }}{{ end }}'>
{{block "banner" . }}{{partial "banner.html" . }}{{end}}
<div style="text-align: left">{{partial "hamburger.html" . }}</div>
<div class="wrapper ml-1 mr-1 ml-md-4 mr-md-6 mr-lg-8">
  {{ $displaySidebar := not .Params.noSidebar }}
  {{ if $displaySidebar }}
  <div class="container-fluid pt-2 pt-md-3">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
	<div class="sidebar {{ .Params.sidebarStyle }}">
	  {{ partial "sidebar.html" . }}
	</div>
      </div>
      <div class="col-12 col-md-8 col-lg-9">
	{{ block "main" . }}{{ end }}
      </div>
      {{ with .File }}
        {{ if ne .Path "_index.md" }}
          {{/* For Talkyard: partial "comments.html" $dot */}}
        {{ end }}
      {{ end }}
    </div>
  </div>
  {{ else }}
    {{ block "main" . }}{{ end }}
  {{ end }}
</div>

{{/* partial "page-footer.html" . */}}

{{ block "footer_js" . }}{{ end }}
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js">
</script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js">
</script>
{{ partial "prooftoys-scripts.html" . }}

<script>
// This script runs just before DOMContentReady, which
// expedites it a little, desirable because it modifies
// the content and styling of the page.
if (Toy.TOC) {
  $(Toy.TOC).tableofcontents({exclude: $('h1, .hero h2, h5, h6')});
}
Toy.mathifyAll();
// Mathification sets up some data-tippy-content attributes.
tippy('[data-tippy-content]', {
  allowHTML: true,
  // This improves tooltip positioning for inline elements.
  inlinePositioning: true,
  // This lets the tooltip stay up when the cursor moves over it.
  interactive: true,
  // This attaches the tooltip to the document body vs the target
  // element for more consistent effects on styling of tooltips.
  appendTo: () => document.body,
  // 300ms delay for both show and hide.
  // This helps to keep the tooltip up so "interactive" can work.
  delay: [400, 400],
});
// The mainContent DIV is created in single.html.
$('.mainContent').removeClass('invisible');
</script>

</body>

</html>
