<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ block "meta_tags" . }}{{end}}
  <link rel="icon" href="/favicon.ico">

  {{ if or true .Site.IsServer }}
    {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
    <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
  {{ else }}
    {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
    <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
  {{ end }}
  <link rel=stylesheet href="/css/custom.css">
  {{ block "header_css" . }}{{ end }}
  {{ $pt := resources.Get "scss/pt.scss" | toCSS }}
  <link rel="stylesheet" href="{{ $pt.RelPermalink }}">


</head>

<body class='page logicZone {{ block "body_classes" . }}{{ end }}'>

{{ partial "main-menu-mobile.html" . }}
<div class="wrapper">
  {{ partial "header.html" . }}

  {{ $displaySidebar := true }}
  {{ if $displaySidebar }}
  <div class="container pt-2 pt-md-6 pb-3 pb-md-6">
    <div class="row">
      <div class="col-12 col-md-3 mb-3">
	<div class="sidebar">
	  {{ partial "sidebar.html" . }}
	</div>
      </div>
      <div class="col-12 col-md-9">
	{{ block "main" . }}{{ end }}
      </div>
      {{ if ne .File.Path "_index.md" }}
        {{ partial "comments.html" . }}
      {{ end }}
    </div>
  </div>
  {{ else }}
    {{ block "main" . }}{{ end }}
  {{ end }}

</div>

  {{ block "footer_js" . }}{{ end }}

  {{ $si := resources.Get "/pt/js/site.js" }}
  {{ $ut := resources.Get "/pt/js/util.js" }}
  {{ $pre := resources.Get "/pt/js/prelim.js" }}
  {{ $ex := resources.Get "/pt/js/expr.js" }}
  {{ $xu := resources.Get "/pt/js/xutil.js" }}
  {{ $st := resources.Get "/pt/js/step-editor.js" }}
  {{ $re := resources.Get "/pt/js/rendering.js" }}
  {{ $so := resources.Get "/pt/js/solution-status.js" }}
  {{ $en := resources.Get "/pt/js/engine.js" }}
  {{ $lo := resources.Get "/pt/js/logic.js" }}
  {{ $nu := resources.Get "/pt/js/numbers.js" }}
  {{ range (slice $si $ut $pre $ex $xu $st $re $so $en $lo $nu) }}
    {{ if $.Site.IsServer }}
      <script type="text/javascript" src="{{ .RelPermalink }}"></script>
    {{ else }}
      <script type="text/javascript"
       src="{{ ( minify . | fingerprint).RelPermalink }}"></script>
    {{ end }}
  {{ end }}

  {{ partial "google-analytics.html" . }}

</body>

</html>
