/** Customized version of Whisper theme _home.scss */

.page-home {
  .content {
    @include media-breakpoint-up(md) {
	width: 80%;
	max-width: 700px;
    }
    margin: 2rem auto;
  }
  .title {
    font-weight: lighter;
    font-family: $font-family-base;
  }
  h1 {
    margin: 0 auto;
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      width: 60%;
    }
  }
  /* Make text in UL larger like in P. */
  p, ul {
    font-size: 1.2rem;
    /* font-weight: lighter; */
    margin-bottom: 1em;
  }
}
