<!-- Matomo -->
<script type="text/javascript">
  // Now gracefully handles all of my websites
  // and limits tracking to appropriate situations.
  // Doesn't even load the JS support when not useful.
  var _paq = window._paq = window._paq || [];
(function() {
  // Regexes to control which site ID to use.  If none
  // found, don't even load matomo.js.
  var mappings = [
    [/^prooftoys.org$/, 1],
    [/^mathtoys.org$/, 3],
    [/^perdues.com$/, 4],
    // Don't track localhost with port number.
    [/^localhost:/, null],
    // Site 6 exists to test tracking. The pattern matches anything
    // ending with netlify.app, or with a port number.
    [/:|netlify.app$/, 6],
  ];
  var id = null;
  for (var i = 0; i < mappings.length; i++) {
    var entry = mappings[i];
    if (location.host.match(entry[0])) {
      id = entry[1];
      if (id) {
        // Set up tracking for the ID.
        //
        // Disable tracking cookies.
        _paq.push(['disableCookies']);
        // Or this line is probably sufficient:
        // _paq.push(['requireCookieConsent']);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        // This is the standard tracker URL.
        // var url = 'https://prooftoys.matomo.cloud/matomo.php'
        // _paq.push(['setTrackerUrl', url]);
        // Alternate first-party tracker URL:
        _paq.push(['setTrackerUrl', 'https://prooftoys.org/m.php']);
        _paq.push(['setSiteId', id]);
        // uxOK means "OK to collect detailed UX information"
        // This code should have no dependencies, e.g. util.js.
        var uxOK = localStorage.getItem('Toy:uxOK') === 'true';
        if (!uxOK) {
          // Disable recording immediately.
          _paq.push(['HeatmapSessionRecording::disable']);
          console.log('Session recording OFF')
        }
        var d=document, g=d.createElement('script'),
            s=d.getElementsByTagName('script')[0];
        g.type='text/javascript';
        g.async=true;
        // Standard URL for matomo.js.
        g.src = '//cdn.matomo.cloud/prooftoys.matomo.cloud/matomo.js'
        // Alternate first-party script URL.
        g.src = '//prooftoys.org/m.js';
        s.parentNode.insertBefore(g,s);
      }
      // Quit search on first match.
      break;
    }
  }
  if (!id) {
    // Indicate we don't want to "push" to anything.
    _paq = null;
  }
})();
</script>
<!-- End Matomo Code -->
