  {{ $si := resources.Get "/pt/js/site.js" }}
  {{ $ut := resources.Get "/pt/js/util.js" }}
  {{ $pre := resources.Get "/pt/js/prelim.js" }}
  {{ $ex := resources.Get "/pt/js/expr.js" }}
  {{ $xu := resources.Get "/pt/js/xutil.js" }}
  {{ $st := resources.Get "/pt/js/step-editor.js" }}
  {{ $re := resources.Get "/pt/js/rendering.js" }}
  {{ $so := resources.Get "/pt/js/solution-status.js" }}
  {{ $en := resources.Get "/pt/js/engine.js" }}
  {{ $lo := resources.Get "/pt/js/logic.js" }}
  {{ $nu := resources.Get "/pt/js/numbers.js" }}
  {{ $all := slice $si $ut $pre $ex $xu $st $re $so $en $lo $nu }}
  {{ $allJS := resources.Concat "/js/all.js" $all }}
  <!-- <script src="{{ $allJS.RelPermalink }}"></script> -->
  {{ range $all }}
    {{ if $.Site.IsServer }}
      <script type="text/javascript" src="{{ .RelPermalink }}"></script>
    {{ else }}
      <script type="text/javascript"
       src="{{ ( minify . | fingerprint).RelPermalink }}"></script>
    {{ end }}
  {{ end }}
