{{ define "title" }}{{ end}}
{{ define "header_css" }}{{ end }}
{{/* Originally page-home */}}
{{ define "body_classes" }}{{ end }}
{{ define "header_classes" }}{{ end }}
{{ define "meta_tags" }}{{ end }}
{{ define "banner" }}{{ partial "jumbo.html" }}{{ end }}

{{ define "main" }}
<div class="strip page-home">
  <div class="container pt-2">
    <div class="row">
      <div class="col-12">
        <div class="content">
          {{ if .Content }}
          {{ .Content }}
          {{ else }}
          <p>{{ .Site.Params.homepage_intro }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}

{{ define "footer_js" }}{{ end }}
